@{
    Script.Require("jQuery");
    Style.Include("calendar.css");
}

<div class="k3f-calendar">
    <div class="k3f-calendar-header">
        <a href="#" class="k3f-calendar-prev"></a>
        <a href="#" class="k3f-calendar-next"></a>
        <div class="k3f-calendar-title">@T("Próximos eventos")</div>
    </div>
    <div class="k3f-calendar-content"></div>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        $(document).ready(function () {
            var prevLink = $('.k3f-calendar-prev'),
                nextLink = $('.k3f-calendar-next');
            var page = 0;

            function getData() {
                $.ajax({
                    dataType: "json",
                    url: "@Url.Action("ListNextEvents", "Event", new { area = "K3F.Calendar" })",
                    data: { page: page },
                    beforeSend: function () {
                        $(".k3f-calendar-content").addClass('loader').html('');
                        prevLink.addClass('disable')
                        nextLink.addClass('disable')
                    },
                    success: function (data) {
                        if (data.PrevPage) {
                            prevLink.removeClass('disable');
                        } else {
                            prevLink.addClass('disable');
                        }

                        if (data.NextPage) {
                            nextLink.removeClass('disable');
                        } else {
                            nextLink.addClass('disable');
                        }

                        html = ['<ul>'];
                        $.each(data.Data, function (index, item) {
                            var li = '<li class="clearfix">';
                            li += '<time datetime="' + item.StartsAt + '" class="col-md-4">' + item.StartsAtWeekDay + '<span>' + item.StartsAtDay + '</span>' + item.StartsAtMonth + '</time>';
                            li += '<span class="col-md-8">' + item.Name + '</span>';
                            li += '</li>';
                            html.push(li);
                        });
                        html.push('</ul>');

                        $(".k3f-calendar-content").removeClass('loader').html(html.join(''));
                    }
                });
            }

            $('.k3f-calendar-header').on('click', 'a.k3f-calendar-prev:not(.disable), a.k3f-calendar-next:not(.disable)', function () {
                if ($(this).hasClass('k3f-calendar-prev')) {
                    page -= 1;
                } else {
                    page += 1;
                }

                getData();
            });

            nextLink.trigger('click');
        });
    </script>
}