div.k3f-calendar,
div.k3f-calendar .ui-widget-content {
    background: #7dbd3b;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYmQzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZWE1MjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #7dbd3b 0%, #5ea525 100%);
    background: -webkit-linear-gradient(top, #7dbd3b 0%, #5ea525 100%);
    background: linear-gradient(to bottom, #7dbd3b 0%, #5ea525 100%);
    padding: 20px;
    color: #FFF;
    border: 0;
    border-radius: 0;
}

    div.k3f-calendar a,
    div.k3f-calendar a:hover {
        color: #FFF !important;
    }

    div.k3f-calendar-show .ui-datepicker .ui-datepicker-title span,
    div.k3f-calendar .k3f-calendar-header {
        font-size: 22px;
        line-height: 24px;
        position: relative;
        margin-bottom: 14px;
    }

        div.k3f-calendar-show .ui-datepicker .ui-datepicker-prev,
        div.k3f-calendar-show .ui-datepicker .ui-datepicker-next,
        div.k3f-calendar .k3f-calendar-header .k3f-calendar-prev,
        div.k3f-calendar .k3f-calendar-header .k3f-calendar-next {
            border: 1px solid #fff;
            border-radius: 50%;
            cursor: pointer;
            display: block;
            font-size: 18px;
            height: 25px;
            position: absolute;
            left: 0;
            top: 0;
            width: 25px;
        }

            div.k3f-calendar .k3f-calendar-header .k3f-calendar-prev.disable,
            div.k3f-calendar .k3f-calendar-header .k3f-calendar-next.disable {
                cursor: default;
                opacity: .5;
            }

        div.k3f-calendar-show .ui-datepicker .ui-datepicker-prev:after,
        div.k3f-calendar-show .ui-datepicker .ui-datepicker-prev:before,
        div.k3f-calendar-show .ui-datepicker .ui-datepicker-next:after,
        div.k3f-calendar-show .ui-datepicker .ui-datepicker-next:before,
        div.k3f-calendar .k3f-calendar-header .k3f-calendar-prev:after,
        div.k3f-calendar .k3f-calendar-header .k3f-calendar-prev:before,
        div.k3f-calendar .k3f-calendar-header .k3f-calendar-next:after,
        div.k3f-calendar .k3f-calendar-header .k3f-calendar-next:before {
                border-color: transparent;
                border-style: solid;
                border-width: 9px 0 9px 9px;
                content: " ";
                display: block;
                height: 0;
                position: absolute;
                top: 3px;
                width: 0;
                -webkit-transition: all 0.1s ease-in;
                -moz-transition: all 0.1s ease-in;
                -o-transition: all 0.1s ease-in;
                transition: all 0.1s ease-in;
            }

            div.k3f-calendar-show .ui-datepicker .ui-datepicker-prev:after,
            div.k3f-calendar-show .ui-datepicker .ui-datepicker-prev:before,
            div.k3f-calendar .k3f-calendar-header .k3f-calendar-prev:after,
            div.k3f-calendar .k3f-calendar-header .k3f-calendar-prev:before {
                border-width: 9px 9px 9px 0;
            }

            div.k3f-calendar-show .ui-datepicker .ui-datepicker-prev:after,
            div.k3f-calendar .k3f-calendar-header .k3f-calendar-prev:after {
                right: 7px;
                border-right-color: #7dbd3b;
                z-index: 2 !important;
            }

            div.k3f-calendar-show .ui-datepicker .ui-datepicker-prev:before,
            div.k3f-calendar .k3f-calendar-header .k3f-calendar-prev:before {
                right: 4px;
                border-right-color: #fff;
            }

            div.k3f-calendar-show .ui-datepicker .ui-datepicker-prev:after,
            div.k3f-calendar-show .ui-datepicker .ui-datepicker-next:after,
            div.k3f-calendar .k3f-calendar-header .k3f-calendar-prev:after,
            div.k3f-calendar .k3f-calendar-header .k3f-calendar-next:after {
                border-left-color: #fff;
                right: 5px;
                z-index: 0;
            }

            div.k3f-calendar-show .ui-datepicker .ui-datepicker-prev:before,
            div.k3f-calendar-show .ui-datepicker .ui-datepicker-next:before,
            div.k3f-calendar .k3f-calendar-header .k3f-calendar-prev:before,
            div.k3f-calendar .k3f-calendar-header .k3f-calendar-next:before {
                border-left-color: #7dbd3b;
                right: 8px;
                z-index: 1;
            }

        div.k3f-calendar-show .ui-datepicker .ui-datepicker-next,
        div.k3f-calendar .k3f-calendar-header .k3f-calendar-next {
            left: auto;
            right: 0;
        }

        div.k3f-calendar-show .ui-datepicker .ui-datepicker-title,
        div.k3f-calendar .k3f-calendar-header .k3f-calendar-title {
            text-align: center;
            text-transform: uppercase;
        }

    div.k3f-calendar .k3f-calendar-content {
    }

        div.k3f-calendar .k3f-calendar-content ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            div.k3f-calendar .k3f-calendar-content ul li {
                border-top: 1px solid #badade;
                margin-top: 10px;
                padding-top: 10px;
            }

                div.k3f-calendar .k3f-calendar-content ul li > span {
                    font-size: 20px;
                    padding: 0;
                }

                div.k3f-calendar .k3f-calendar-content ul li time {
                    padding: 0;
                    line-height: 10px;
                }

                    div.k3f-calendar .k3f-calendar-content ul li time span {
                        font-size: 46px;
                        display: block;
                        line-height: 53px;
                    }

div.k3f-calendar-show {
    color: #575756;
}

    div.k3f-calendar-show .k3f-calendar-content ul li:first-child {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
    }

    div.k3f-calendar-show .k3f-calendar-content ul li {
        margin-top: 20px;
        padding-top: 20px;
    }

        div.k3f-calendar-show .k3f-calendar-content ul li h4 {
            font-size: 24px;
            margin-top: 0;
        }

        div.k3f-calendar-show .k3f-calendar-content ul li time {
            color: #5F8A1F;
        }

        div.k3f-calendar-show .k3f-calendar-content ul li span {
            font-size: 15px;
        }

    /* Datapicker */
    div.k3f-calendar-show .ui-datepicker {
        padding: 10px;
    }

    div.k3f-calendar-show .ui-datepicker-header {
        border: 0;
        background: none;
        color: #FFF;
        font-weight: normal;
        padding: 0;
    }

    div.k3f-calendar-show .ui-datepicker .ui-datepicker-prev:hover,
    div.k3f-calendar-show .ui-datepicker .ui-datepicker-next:hover,
    div.k3f-calendar-show .ui-datepicker .ui-datepicker-prev.ui-state-hover,
    div.k3f-calendar-show .ui-datepicker .ui-datepicker-next.ui-state-hover {
        background: none;
    }

    div.k3f-calendar-show .ui-datepicker .ui-datepicker-prev span,
    div.k3f-calendar-show .ui-datepicker .ui-datepicker-next span {
        display: none;
    }

    div.k3f-calendar-show .ui-datepicker-calendar {
        margin-top: 20px;
    }

        div.k3f-calendar-show .ui-datepicker-calendar th {
            padding: 0;
        }

        div.k3f-calendar-show .ui-datepicker-calendar .ui-state-default {
            color: #333 !important;
            background: #e8e8e8;
            background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
            background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
            border-color: #DDD;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
            background-repeat: repeat-x;
            text-decoration: none !important;
            text-align: center;
        }

        div.k3f-calendar-show .ui-datepicker-calendar .k3f-highlighted .ui-state-default,
        div.k3f-calendar-show .ui-datepicker-calendar .ui-state-default:hover {
            color: #FFF !important;
            background-image: -webkit-linear-gradient(top, #83c100 0%, #5D8803 100%);
            background-image: linear-gradient(to bottom, #83c100 0%, #5D8803 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#83c100', endColorstr='#5D8803', GradientType=0);
            background-repeat: repeat-x;
            border-color: #5D8803;
        }

        div.k3f-calendar a{
            color: #5D8803 !important;
        }
        div.k3f-calendar a:hover{
            color: #5D8803 !important;
        }